<% content_for :head do %>
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.min.css" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js" %>
  <%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.min.js" %>
  <%= javascript_include_tag "https://fullcalendar.io/js/fullcalendar-2.3.1/lang-all.js" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<% end %>

<div id="page">
  <div class="page-header">
    <h1>Reservation System (<a class="text-primary" href="http://preview.uedsky.com/demo/reserving" target="_blank">interactive demo</a>)</h1>
  </div>
  <div id="calendar"></div>
</div>
